/*  font-family: 'Anton', sans-serif;
font-family: 'Arvo', serif;
font-family: 'Dancing Script', cursive;
font-family: 'IM Fell English SC', serif;*/
html{
    box-sizing:border-box ;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    font-family: 'Anton', sans-serif;
    font-family: 'Arvo', serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'IM Fell English SC', serif;
font-size:  15px; 
line-height: 25px;
background-color: rgb(140, 236, 236);
}
header{
    width: 100%;
    height: 10%;
     background-color: rgb(245, 16, 16); 
    /* padding: 16px 50px; */
    margin-top: 0px;
    display: inline-block;
    /* position: fixed; */
    opacity: .4;
   
    
}
 h1{
    color: black ;
    font-size: 20px;
    margin-top: 0%;
    margin-left: 1px;
    
}



nav{
    background-color: rgb(245, 16, 16);
    /* margin-top: 10px; */
    /* position: fixed; */
    /* display: inline-block; */

}
nav ul {
    list-style:none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    flex-grow: 1;
}
nav ul li a {
    font-size: 17px;
color: rgb(246, 246, 248);
text-decoration: none;
padding: 3px 6px;
display: block;
text-align: center;
}

nav ul li a:hover{
    background-color: black;
}
/* nav ul li a.active{ */
    /* background-color: rgb(195, 141, 241); */
/* } */
footer{
    background-color: gray;
    clear: both;
    color: black;
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
}
.contenedor{
    max-width: 1024px;
    margin: 0 auto;
}
h2{
    font-size: 20px;
}
/* comienza inicio */
.inicioimg{
    width: 200%;
    height: 20%;

    
}
.portada{
    width: 60%;
    padding-left: 25px;
    box-sizing: border-box;
    /* background: red; */
    margin-top: 0;
}
.portada p, .datos p{
    color: blue;
    font-size: 15px;
}
.datos{
    /* background: yellow; */
    width: 40%;
    margin-block-end: 10px;
    border: 2px solid #150324;
    box-shadow: -11px 10px 5px 3px rgba(0,0,0,0.33);


}
.columnas{
    display: flex;
    justify-content: space-between;
    gap: 10px;

}
/* Cierra inicio */

/* comienzo pagina ciudad de girona */
.imgGirona{
    width: 250px;
    height: 200px;
}
.girona{
    /* display:inline-block; */
    justify-content: space-between;
    margin-top: 10px;
}
.gironaitems{
    border: 2px solid rgb(12, 10, 10);
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    /* display:inline-block; */
    /* gap: 4px; */
    padding: 10px;
}




/* fin página ciudad de girona */














